.git
.env
.env.*
node_modules
vendor
public/build
public/fonts-manifest.dev.json
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
database/*.sqlite
.phpunit.result.cache
tests
phpunit*.xml
docker-compose.override.yml
.DS_Store
.idea
.vscode
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
